:root {
  --light-cyan: #d6fff6;
  --medium-turquoise: #4dccbd;
  --russian-violet: #110d31;
  --french-blue: #2374ab;
  --light-coral: #ff8484;
  --size: 80px;
  --animation-duration: 2s;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #212121;
  
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: auto; 

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column; 
  color: #333;
}

select {
  font-family: "Inter", sans-serif; 
  font-size: 16px; 
  padding: 8px; 
  border-radius: 4px; 
  border: 1px solid #ddd; 
}

        
  #scatter_plot {
          width: 100%;
          height: 100%;  
          position: relative;
      }

  .plotter {
        width: 100%;
        height: 100%;  
        position: relative;
    }

.flex-container {
  display: flex;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  
}

.flex-container3 {
  display: flex;
  margin-top: 1%;
  max-height: 10%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  
}
.center-div,
.right_centre {
  flex: 1; 
  max-width: calc(50% - 4%); 
  overflow-y: auto; 
  background-color: #fff;
  padding: 20px;
  margin-left: 2%; 
  margin-right: 2%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.center-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.center2-div {
  width: 800px; 
  max-width: 90%; 
  margin: 0 auto; 
  max-height: 1000px; 
  overflow-y: auto; 
  overflow-x: hidden; 

  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  text-align: left;
}



#button-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: min-content;
}

#button-container input,
#button-container button,
#button-container p {
  margin-right: auto;
  align-self: center; 
}


#saveTestContainer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

#saveTestContainer2 {
  display: flex;
  align-items: center; 
}

#saveTestContainer2 > *:first-child {
  margin-right: 20px; 
  margin-top: -19px;
}


#saveTestContainer h2 {
  margin-right: auto; 

}


.pre2 {
  unicode-bidi: embed;
  
  white-space: pre;
  font-size: 15px;

  font-family: "Inter", sans-serif;
}

pre {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.slim-div {
  width: 900px; 
  max-width: 100%; 
  height: auto;
  z-index: 9000; 
  display: flex; 

  margin: 0 auto; 
  max-height: 750px; 
  
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  align-items: center;
}

input[type="textin"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: calc(100% - 24px);
  margin-bottom: 16px;
  resize: both;
  max-height: 20%;
  font-family: "Inter", sans-serif;
}
input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  color: #000000; 
  width: calc(100% - 24px);
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
}


input[type="text"]::placeholder {
  color: #959595;
}


textarea {
  width: 100%; 
  padding: 10px;
  box-sizing: border-box;
  font-size: 17px; 
  font-family: "Inter", sans-serif;
  height: 120px;
  min-height: 120px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  resize: vertical; 
  max-height: 120px; 
}

input[type="submit"] {
  background-color: #007bff; 
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}
input[type="submit2"] {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 8px 25px;
  width: auto;
  border-radius: 40px;
  cursor: pointer;
  font-size: 15px;
  display: block; 
  margin: 0 auto; 
  text-align: center; 
}

input[type="submit2"]:hover {
  background-color: #b30000;
  border: none;
}



#submit3 {
  cursor: pointer;
  padding: 8px 10px; 
  border: 2px solid #007bff; 
  border-radius: 50px;
  height: auto;
  background-color: transparent; 
  font-size: 14px; 
  color: #007bff;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s; 
}

#submit3:hover,
#submit3:active {
  background-color: #007bff; 
  color: #ffffff; 
  border-color: transparent;
}

#submit3:focus {
  outline: none; 
}






.parent-divn {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.results-container {
  transition: height 0.5s ease-out;
  overflow: hidden; 
}

#result-p {
  font-size: 14px;
}


header {
  background-color: #ffffff; 
  
  width: 100%;
  height: 65px; 
}


.header-content {
  width: 57%;
  max-width: 1140px; 
  margin: 0 auto; 
  padding: 20px 1rem; 
  font-size: 22px;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

footer {
  background-color: #ffffff; 
  width: 100%;
  height: 30px; 
}


.footer-content {
  width: 100%;
  max-width: 1140px; 
  margin: 0 auto; 
  padding: 27px 1rem; 
  font-size: 22px;

  align-items: center; 
  text-align: center;
}


nav ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 20px; 
}

nav ul li a {
  text-decoration: none; 
  color: #333; 
  font-size: 20px; 
  transition: color 0.3s; 
}

nav ul li a:hover {
  color: #007bff; 
}

.verifyme-text {
  color: rgb(0, 60, 179);
}

#authorSimilarityResults {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr)
  ); 
  gap: 10px;
}

.result-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
  overflow: hidden; 
}

.result-box > div {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 100%;
}

.result-box > div:nth-child(1) {
  flex-grow: 2; 
}

.result-box > div:nth-child(2) {
  flex-grow: 1; 
  background-color: #f0f0f0; 
}

.a2,
.Footer_Footer__link__QcW_T {
  display: inline-block; 
  position: relative; 
  text-decoration: none; 
  color: #000000; 
  font-size: 15px; 
}

.Footer_Footer__link__QcW_T:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px; 
  height: 2px;
  background-color: #000000; 

  transform: scaleX(1);
  transform-origin: left;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.Footer_Footer__link__QcW_T:hover:after {
  transform: scaleX(0);
  transform-origin: right;
}

a {
  text-decoration: none;
  font: #000000;
}

.a2 {
  text-decoration: none;
  color: #000000; 
  font-size: 15px;
  display: inline-block; 
}
.log-scale-container {
  width: 100%;
  height: 20px; 
  margin-top: 10px; 
  position: relative; 
}

.log-scale {
  position: absolute; 
  width: 100%;
  height: 100%;
}

.log-bar {
  position: absolute;
  bottom: -40px; 
  height: 5px; 
  width: 2px;
  border-radius: 30%;
  background-color: #000000;
  z-index: 10000;
}

#modelConfidenceContainer {
  width: 100%;
  max-width: 600px; 
  height: 15px; 
  position: relative;
  margin: 20px auto;
  color: #ffffff;
}

.confidence-scale {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    #3288bd, #66c2a5, #abdda4, #e6f598, #fee08b, #fdae61, #f46d43, #d53e4f
  );
  border-radius: 25px;
}

.confidence-indicator {
  width: 5px;
  height: 19px;
  border-radius: 10%;
  background-color: #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}




.cube {
  margin: 20px auto; 
  font-size: 24px;
  height: 1em;
  width: 1em;
  position: relative;
  transform: rotatex(30deg) rotatey(45deg);
  transform-style: preserve-3d;
  animation: cube-spin 1.5s infinite ease-in-out alternate;
}

.side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-style: preserve-3d;
}

.side::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentcolor;
  transform: translatez(0.5em);
  animation: cube-explode 1.5s infinite ease-in-out;
  opacity: 0.5;
}

.side:nth-child(1) {
  transform: rotatey(90deg);
}
.side:nth-child(2) {
  transform: rotatey(180deg);
}
.side:nth-child(3) {
  transform: rotatey(270deg);
}
.side:nth-child(4) {
  transform: rotatey(360deg);
}
.side:nth-child(5) {
  transform: rotatex(90deg);
}
.side:nth-child(6) {
  transform: rotatex(270deg);
}

@keyframes cube-spin {
  0% {
    transform: rotatex(30deg) rotatey(45deg);
  }
  100% {
    transform: rotatex(30deg) rotatey(405deg);
  }
}

@keyframes cube-explode {
  0% {
    transform: translatez(0.5em);
  }
  50% {
    transform: translatez(0.75em);
  }
  100% {
    transform: translatez(0.5em);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer; 
}


.tooltip .tooltiptext {
  visibility: hidden;

  width: 120px;
  background-color: #f8f9fa; 
  color: #333; 
  text-align: center;
  padding: 8px 0px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  
  position: absolute;
  z-index: 1;
  bottom: 66.6%;
  left: 50%;
  transform: translateX(-50%) scale(0); 
  transition: visibility 0.05s, opacity 0.05s ease-in-out, transform 0.1s ease;
  transition-delay: 0s, 0s, 0.2s; 
}


.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f8f9fa transparent transparent transparent;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  display: inline-block;

  transform: translateX(-50%) scale(1); 
  transition-delay: 0s, 0s, 0s; 
}


.spinner-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: min-content 
}

.spinner {
  position: relative;
  z-index: 1000;
  height: 35px;
  width: 35px;
  
}

[class^="ball-"] {
  position: absolute;
  display: block;
  left: 0px;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  transition: all 0.5s;
  animation: circleRotate 4s both infinite;
  transform-origin: 0 250% 0;
}

.ball-1 {
  background-color: #2196f3;
  z-index: -1;
  animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
}
.ball-2 {
  background-color: #03a9f4;
  z-index: -2;
  animation-timing-function: cubic-bezier(0.5, 0.6, 0.9, 0.9);
}
.ball-3 {
  background-color: #00bcd4;
  z-index: -3;
  animation-timing-function: cubic-bezier(0.5, 0.9, 0.9, 0.9);
}
.ball-4 {
  background-color: #009688;
  z-index: -4;
  animation-timing-function: cubic-bezier(0.5, 1.2, 0.9, 0.9);
}
.ball-5 {
  background-color: #4caf50;
  z-index: -5;
  animation-timing-function: cubic-bezier(0.5, 1.5, 0.9, 0.9);
}
.ball-6 {
  background-color: #8bc34a;
  z-index: -6;
  animation-timing-function: cubic-bezier(0.5, 1.8, 0.9, 0.9);
}
.ball-7 {
  background-color: #cddc39;
  z-index: -7;
  animation-timing-function: cubic-bezier(0.5, 2.1, 0.9, 0.9);
}
.ball-8 {
  background-color: #ffeb3b;
  z-index: -8;
  animation-timing-function: cubic-bezier(0.5, 2.4, 0.9, 0.9);
}

@keyframes circleRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

.result-delete-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  cursor: pointer;
  display: none; 
  font-size: 20px; 
}

.edit-mode .result-delete-icon {
  display: block; 
}

.tooltip {
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.selected {
  border: 3px solid #fff; 
  
}


.selected::after {
  content: "✕"; 
  color: #fff; 
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  font-size: 20px; 
  
}

.selectedEmb {
  border: 3px solid #ffffff; 
  
}
.selectedEmb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%; 
  height: 2px; 
  background-color: #000; 
  transform: translateY(-50%); 
}


.button-common {
  background-color: transparent; 
  padding: 3px 10px; 
  border-radius: 40px; 
  cursor: pointer; 
  font-size: 15px; 
  transition: background-color 0.3s, color 0.3s; 
}


.edit-btn {
  color: #007bff; 
  border: 2px solid #007bff; 
}

.edit-btn.clicked,
.edit-btn:hover {
  background-color: #007bff; 
  color: #ffffff; 
}


#deleteSelected {
  color: #ff8484; 
  border: 2px solid #ff8484; 
}

#deleteSelected.clicked,
#deleteSelected:hover {
  background-color: #ff8484; 
  color: #ffffff; 
}


.edit-btnEmb {
  color: #007bff; 
  border: 2px solid #007bff; 
}

.edit-btnEmb.clicked,
.edit-btnEmb:hover {
  background-color: #007bff; 
  color: #ffffff; 
}


#deleteSelectedEmb {
  color: #ff8484; 
  border: 2px solid #ff8484; 
}

#deleteSelectedEmb.clicked,
#deleteSelectedEmb:hover {
  background-color: #ff8484; 
  color: #ffffff; 
}

.custom-modal {
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3); 
  padding-top: 5%; 
}

.custom-modal-content {
  background-color: var(--light-cyan); 
  margin: auto;
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 80%;
  max-width: 450px; 
  color: var(--russian-violet); 
  font-family: "Inter", sans-serif; 
}

.strikethrough {
  text-decoration: line-through;
}

.custom-modal-close {
  color: var(--french-blue); 
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px; 
  cursor: pointer;
}

.custom-modal-close:hover,
.custom-modal-close:focus {
  color: var(--light-coral); 
}


.custom-modal button,
.custom-modal a {
  background-color: var(--medium-turquoise);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none; 
  display: inline-block; 
  margin: 5px; 
  cursor: pointer; 
}

.custom-modal button:hover,
.custom-modal a:hover {
  background-color: darken(var(--medium-turquoise), 10%);
}

#toggleEmbeddingsList {
  cursor: pointer;
  padding: 3px 10px; 
  border: none;
  border-radius: 50px;
  background-color: transparent; 
  border: 2px solid #007bff; 
  font-size: 15px; 

  color: #007bff;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s; 
}
#toggleEmbeddingsList.clicked,
#toggleEmbeddingsList:hover {
  background-color: #007bff; 
  color: #ffffff; 
}
